<button type="button" class="btn btn btn-outline-success" id="shopbtn" data-bs-toggle="modal" data-bs-target="#basket-shopping">
    <i class="fa-sharp fa-solid fa-basket-shopping"></i>
    <p class="resp_text" id="btnlogintext">Panier</p>
</button>
